################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Res2Ext/FileContentIndex/d8d0e9ab-9199-41e3-b0a6-1f86bb83c685.vsidx
/.vs/Res2Ext/FileContentIndex
